/* Layout */

html {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  display: flex;
  align-items: center;
}
.logo {
  min-width: 2em;
}
.wrapper {
  flex: 1 1 auto;
  display: block;
  display: flex;
  flex-direction: row;
}
nav {
  width: 15em;
}
.content {
  flex: 1;
  display: block;
  display: flex;
  flex-direction: column;
}
.svg-container-1 {
  flex: 1;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*perspective: 500px;*/
}
.svg-container-2 {
  flex: 1;
  max-width: 980px;
  /*transform: rotateX(20deg);*/
}

/* Responsive */

@media (max-width: 640px) {
	.wrapper {
    flex-direction: column;
  }
  nav {
    width: auto;
    order: 1;
  }
  .content {
    min-height: 100vw;
  }
}

/* Decoration */

body {
	margin: 0;
	background: #fff;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1em;
}
header, nav, section, footer {
	margin: 0;
	padding: 0;
	color: #fff;
}
header {
  padding: 0 1em;
	background: black;
}
h1 {
  margin-left: .2em;
}
nav {
	background: gray;
}
nav a {
  display: block;
  padding: .5em 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.3);
}
section {
	color: gray;
  text-align: center;
}
footer {
	background: black;
  padding: .5em;
  text-align: right;
}