/* Layout */

html {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}
.logo {
  float: left;
  height: 4em;
  padding: .5em .5em .5em 0;
}
.wrapper {
  flex: 1 1 auto;
  display: block;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
nav {
  width: 15em;
  float: left;
  overflow: auto;
}
.content {
  flex: 1;
  display: block;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.svg-container {
  flex: 1;
  padding: 0 5%;
}
.svg-container svg {
  max-height: 100%;
  max-width: 95vh;
  min-height: 50vh;
  width: 100%;
}

/* Responsive */

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
    overflow: visible;
  }
  nav {
    width: auto;
    order: 1;
    min-height: 100vw;
  }
  .content {
    min-height: 100vw;
  }
}

/* Decoration */

body {
  margin: 0;
  background: #fff;
  font-size: 1em;
}
header, nav, section, footer {
  margin: 0;
  padding: 0;
  color: #fff;
}
header {
  overflow: hidden;
  min-height: 4.8em;
  padding: 0 1em;
  background: black;
  background: linear-gradient(#222, black);
  box-shadow: 0 0 1em #444;
  z-index: 1000;
}
h1 {
  margin-left: .2em;
}
h1 span {
  font-size: .6em;
}
nav {
  background: gray;
  background: linear-gradient(90deg,#444, gray);
  box-shadow: 0 0 1em #444 inset;
  color: #fff;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  border-bottom: 1px solid silver;
  color:#999;
}
nav li li {
  font-family: "Century Gothic", helvetica, arial, sans-serif;
  padding: .5em 1em;
  margin: 0 -1em;
  border: none;
  cursor: pointer;
  color: white;
}
nav li li:hover {
  background: #444;
}
.content {
  background: radial-gradient(white,lightgray);
}
.content h2 {
  font-size: 3vw;
}
section {
  color: black;
  text-align: center;
}
footer {
  background: black;
  background: linear-gradient(black,#111);
  padding: .5em;
  text-align: right;
}
.touch {
  cursor: pointer;
}
.hexagon {
  fill: "#F3F3F3";
  stroke: black;
  stroke-width: .5;
}
.notation {
  font-size: .4em;
  text-anchor: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
