/* Layout */

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    padding: 2px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #666;
}
::-webkit-scrollbar-thumb:hover {
    background: #BBB;
    border: solid 1px #444;
}
html {
    box-sizing: border-box;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
body {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
/* iPad with portrait orientation.*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  body {
    height: 1024px;
  }
}
/* iPad with landscape orientation.*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  body {
    height: 768px;
  }
}
.logo {
    float: left;
    height: 4em;
    padding: .5em .5em .5em 0;
}
.wrapper {
    overflow: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
nav {
    overflow: auto;
    width: 18em;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
nav li {
    overflow: hidden;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
nav li.current {
    min-height: 10em;
}
nav li.current:last-child {
    min-height: 5.1em;
}
nav li.current ul {
    height: auto;
    overflow-y: auto;
}
.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    overflow: auto;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 6em;
}
.svg-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    overflow: hidden;
    padding: 0 5%;
    min-height: 60vmin;
}
.svg-container svg {
    max-height: 60vmin;
}

/* Decoration */

body {
    color: #BBB;
    background: #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.wrapper {
    font-family: "Century Gothic", helvetica, arial, sans-serif;
}
header {
    color: white;
    background: #111;
    padding: 0 1em;
    height: 4.8em;
    min-height: 4.8em;
    overflow: hidden;
}
h1 {
    margin-left: .2em;
    font-weight: normal;
}
h2 {
    margin: .5em 0;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    cursor: auto;
}
.content {
    text-align: center;
}
.touch {
    cursor: pointer;
}
.hexagon {
    fill: #333;
    stroke: #444;
    stroke-width: 1;
}
.touch.green .hexagon,
.touch.orange .hexagon {
    fill: #555;
}
.touch.orange .hexagon {
    fill: #FFB56D;
}
.touch.green .hexagon {
    fill: #81E681;
}
.touch.odd.green .hexagon {
    fill: #427D53;
}
.notation {
    fill: #666;
    font-size: 6px;
    text-anchor: middle;
}
.touch.orange .notation,
.touch.blue .notation,
.touch.green .notation {
    fill: #222;
}
footer {
    background: #111;
    text-align: right;
    padding: .3em;
}
.logo-footer {
    height: 1.2em;
    margin: -0.1em 0 -0.2em .7em;
    border: none;
}
footer a {
    color: white;
    display: inline-block;
    opacity: 0.1;
    font-size: 1em;
    font-style: normal;
    text-decoration: none;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
footer a:last-child {
    opacity: 0.5;
}
footer a:hover {
    opacity: 1;
}
nav {
    background: #333;
}
nav li {
    border-bottom: 2px solid #444;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
    min-height: 2em;
    font-size: 1.2em;
}
nav li div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 2.5em;
}
nav ul {
    color: #111;
    background: #BBB;
    height: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: default;
}
nav li li {
    border: none;
    padding: .5em;
    font-size: .9em;
    min-height: 1.8em;
    /*line-height: 1.2em;*/
    text-align: left;
    padding-left: 1em;
}
nav li.current {
    background: #666;
}
nav li.current li {
    font-weight: normal;
}
nav li.current li.selected {
    background: #CCC;
    font-weight: 600;
    cursor: default;
}
.buttons_flex {
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.buttons_flex div {
    color: #666;
    background: none;
    border-radius: 1em;
    font-size: 1.2em;
    padding: .8em;
    margin: .5em;
}
.buttons_flex div::before {
    content: "(";
}
.buttons_flex div::after {
    content: ")";
}
.buttons_flex div.active {
    color: #BBB;
    background: #333;
    cursor: pointer;
}
.buttons_flex div.active::before {
    content: "voir le ";
}
.buttons_flex div.active::after {
    content: "";
}

/* Responsive */
@media screen and (max-width: 950px) {
    body {
        font-size: .9em;
    }
}
@media screen and (max-width: 600px) {
    body {
        font-size: 1.1em;
    }
}
@media screen and (max-device-width: 600px) and (orientation : portrait) {
    body {
        font-size: 2.5em;
    }
}
@media screen and (max-width: 600px), screen and (max-device-width: 600px) and (orientation : portrait) {
    header {
        font-size: .7em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    footer {
        display: none;
    }
    .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .buttons_flex div {
        font-size: 1em;
    }
    nav {
        width: auto;
        float: none;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
    .wrapper,
    nav,
    nav * {
        -webkit-transition: min-height .3s ease-in-out;
        transition: min-height .3s ease-in-out;
    }
    .content,
    .svg-container {
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
    }
}
.content.escape,
.content.escape h2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100 auto;
        -ms-flex: 0 100 auto;
            flex: 0 100 auto;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow: hidden;
}