/* Layout */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.8);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.8);
  border-radius: 6px;
  background: rgba(127,127,127,0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
  border: solid 1px #444;
}
html {
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}
.logo {
  float: left;
  height: 4em;
  padding: .5em .5em .5em 0;
}
.wrapper {
  flex: 1 1 auto;
  display: block;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
nav {
  width: 15em;
  float: left;
  overflow: auto;
}
.content {
  flex: 1;
  display: block;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.svg-container {
  flex: 1;
  padding: 0 5%;
}
.svg-container svg {
  max-height: 100%;
  max-width: 95vh;
  min-height: 50vh;
  width: 100%;
  overflow: hidden;
}

/* Responsive */

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
    overflow: visible;
  }
  nav {
    width: auto;
    order: 1;
    min-height: 100vw;
  }
  .content {
    min-height: 100vw;
  }
}

/* Decoration */

body {
  margin: 0;
  background: #fff;
  font-size: 1em;
}
header, nav, section, footer {
  margin: 0;
  padding: 0;
  color: #fff;
}
header {
  overflow: hidden;
  height: 4.8em;
  min-height: 4.8em;
  padding: 0 1em;
  background: black;
  background: linear-gradient(#222, black);
  box-shadow: 0 0 .5em #444;
  z-index: 1000;
}
h1 {
  margin-left: .2em;
}
h1 span {
  font-size: .6em;
  color: gray;
}
.content {
  background: radial-gradient(white,#DDD);
}
.content h2 {
  font-size: 3vw;
}
section {
  color: black;
  text-align: center;
}
footer {
  color: gray;
  background: black;
  background: linear-gradient(#111, black);
  box-shadow: 0 0 .5em #444;
  padding: .3em;
  text-align: right;
}
.logo-footer {
  height: 1.2em;
  margin: -0.1em 0 -0.2em .7em;
}
footer a {
  text-decoration: none;
  font-style: normal;
  color: white;
  font-size: 1em;
  display: inline-block;
  opacity: 0.3;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: .2s;
  -moz-transition-property: opacity;
  -moz-transition-duration: .2s;
  transition-property: opacity;
  transition-duration: .2s;
}
footer a:last-child {
  opacity: 0.7;
}
footer a:hover {
  opacity: 1;
}
.touch {
  cursor: pointer;
}
.hexagon {
  stroke: #444;
  stroke-width: .5;
}
.notation {
  font-size: .4em;
  text-anchor: middle;
}
.gkeyboard {
  -webkit-filter: drop-shadow(5px 5px 2px black); 
}

nav {
  background: #444;
  background: linear-gradient(90deg,#333,#555);
  color: #fff;
  display: flex;
  flex-direction: column;
}
nav li {
  transition: all .3s ease-out;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  cursor: pointer;
  display: block;
  border-top: 1px solid gray;
  color: silver;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2em;
  min-height: 2em;
  flex: 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 0;
  overflow: hidden;
  flex: 1;
  border-top: 1px solid gray;
  box-shadow: 0 0 3em #444 inset;
}
nav li li {
  transition: none;
  padding: .5em 1em;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
  border: none;
  color: white;
  font-size: .8em;
  text-align: left;
}
nav li:hover {
  background: #555;
  background: linear-gradient(90deg,#444, #666);
  color: white;
}
nav li.current, nav li.current:hover {
  cursor: default;
  color: white;
  flex: 1;
  min-height: 8em;
  background: #666;
  background: linear-gradient(90deg,#444, #777);
}
nav li li.selected {
  background: #444;
  box-shadow: 0 0 1em #333 inset;
  color: #FFC057;
  cursor: default;
}
nav li.current ul {
  height: auto;
  overflow-y: auto;
}