/* Layout */

html {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.logo {
  float: left;
  height: 4em;
  padding: .5em .5em .5em 0;
}
.wrapper {
  flex: 1 1 auto;
  display: block;
  display: flex;
  flex-direction: row;
}
nav {
  width: 15em;
}
.content {
  flex: 1;
  display: block;
  display: flex;
  flex-direction: column;
}
.svg-container {
  flex: 1;
  overflow: hidden;
  margin: 0 5% 5% 5%;
}
.svg-container svg {
  max-height: 100%;
  max-width: 95vh;
  width: 100%;
}

/* Responsive */

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
  }
  nav {
    width: auto;
    order: 1;
  }
  .content {
    min-height: 100vw;
  }
}

/* Decoration */

body {
  margin: 0;
  background: #fff;
  font-size: 1em;
}
header, nav, section, footer {
  margin: 0;
  padding: 0;
  color: #fff;
}
header {
  padding: 0 1em;
  background: black;
}
h1 {
  margin-left: .2em;
}
nav {
  font-family: "Century Gothic", helvetica, arial, sans-serif;
  background: gray;
}
nav a {
  color: #fff;
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  border-bottom: 1px solid silver;
}
section {
  color: black;
  text-align: center;
}
footer {
  background: black;
  padding: .5em;
  text-align: right;
}
.touch {
  cursor: pointer;
}
.hexagon {
  fill: "#F3F3F3";
  stroke: black;
  stroke-width: .5;
}
.notation {
  font-size: .4em;
  text-anchor: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}